<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Uw reservering is geaccepteerd! Deze staat op de naam van, <%= @user.username %></h1>
<p>
  We zien uw graag bij het Fablab om <%= @reservation.start_time %>.<br>
  Als u eventueel nog vragen heeft, kunt u ons mailen of bellen.
</p>
<p>
  Hierbij de gegevens over uw reservering:
  <%= @reservation %>.<br>
</p>
<p>Danku!</p>
</body>
</html>