<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Uw reservering is helaas afgewezen deze staat op de naam van, <%= @user.username %></h1>
<p>
  Kunt u alstublieft een wijziging maken aan de reservering.<br>
  U zal zo snel mogelijk horen of de reservering word geaccepteerd of eventuele verdere wijzigingen nodig heeft.
</p>
<p>
  Hierbij de gegevens over uw reservering:
  <%= @reservation %>.<br>
</p>
<p>Danku! U zal snel van ons terughoren!</p>
</body>
</html>